__pycache__/
*.pyc
.env
.DS_Store

# Never upload conda environments
env/
venv/
miniconda3/
anaconda3/

# Model output
saved_models/

# Ignore dataset folders (but not src/data)
data/raw/
data/processed/

# Ignore heavy model/data files
*.pt
*.pth
*.pkl

# IMPORTANT: Un-ignore your source code folder
!src/data/
!src/data/*.py
